/* Body background color */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif; /* Ensuring consistent font */
    margin: 0;
    padding: 0;
}

/* Centering the form container */
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto; /* Centering the container with margin */
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center horizontally */
}

form {
    width: 100%; /* Make form take the full width of the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form items */
}

/* Style for labels */
label {
    font-size: larger;
    width: 100%; /* Make label take full width of form */
    max-width: 180px; /* Ensure a maximum width for labels */
    text-align: left; /* Align text to the left */
    margin-bottom: 10px; /* Add some spacing below labels */
}

/* Reduced opacity when label is disabled */
label.disabled-label {
    opacity: 0.5; /* Reduced opacity */
}

/* Style for select dropdowns */
select {
    width: 100%; /* Full width */
    max-width: 400px; /* Ensure a maximum width for select dropdowns */
    padding: 5px; /* Padding */
    border: 1px solid #ccc; /* Border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    margin-bottom: 10px; /* Add spacing */
}

/* Style for radio buttons and labels */
#reference-options {
    display: flex;
    justify-content: space-around; /* Evenly space radio buttons */
    width: 100%;
    margin-bottom: 20px; /* Add some spacing below */
    flex-wrap: wrap; /* Allow wrapping for radio buttons */
}

#reference-options label {
    flex: 1 1 45%; /* Allow each label to take up 45% of the row */
    margin-bottom: 10px; /* Add some spacing below */
    text-align: left; /* Align text to the left */
}

#reference-options input[type="radio"] {
    margin: 0 10px 0 0; /* Right margin for radio buttons */
}

/* Style for submit button */
#submit-btn {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 12px 24px; /* Padding */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    margin-top: 20px; /* Margin at the top */
}

/* Hover effect for submit button */
#submit-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Reduced opacity when button is disabled */
#submit-btn:disabled {
    opacity: 0.5; /* Reduced opacity */
    cursor: not-allowed; /* Default cursor */
}
