{% extends "base.html" %}
{% block title %}Bluebook Reference Tool{% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Bluebook Reference Tool</h1>

    <form id="pdf-form">
        <!-- Dropdown for selecting PDF -->
        <div class="form-group">
            <label for="pdf-select">Bluebook PDF's:</label>
            <select id="pdf-select" name="pdf_file">
                <option value="">--Select PDF--</option>
                {% for pdf_file in pdf_files %}
                <option value="{{ pdf_file.file }}">{{ pdf_file.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Reference options -->
        <div id="reference-options" style="display: none;">
            <div class="form-group">
                <label><input type="radio" name="reference-type" value="part"> Part</label>
            </div>
            <div class="form-group">
                <label><input type="radio" name="reference-type" value="section"> Section</label>
            </div>
            <div class="form-group">
                <label><input type="radio" name="reference-type" value="subsection"> Subsection</label>
            </div>
        </div>

        <!-- Dropdowns -->
        <div id="dropdowns">
            <!-- Part, Section, Subsection dropdowns -->
            {% for dropdown in ['part', 'section', 'subsection'] %}
            <div id="{{ dropdown }}-dropdown" class="form-group" style="display: none;">
                <label for="{{ dropdown }}-select">Select {{ dropdown|capitalize }}:</label>
                <select id="{{ dropdown }}-select" name="{{ dropdown }}-select" {% if dropdown != 'part' %}disabled{% endif %}>
                    <option value="" selected disabled>--Select {{ dropdown|capitalize }}--</option>
                </select>
            </div>
            {% endfor %}
        </div>

        <!-- Submit button -->
        <button id="submit-btn" disabled>Submit</button>
    </form>
</div>
{% endblock %}
